
.navbar {
    position: fixed;
    background: rgba(0, 0, 0, 0);
    color: bisque;
    border-radius: 2px;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    transition: ease-in 0.9s;
}
.navbar-active{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.103), rgba(212, 211, 221, 0));
    backdrop-filter: blur(14px);
    color: rgb(39, 21, 0);
}
.navbar-item{
    justify-content: end;
    
}
.navbar-ul{
    /* color: rgb(0, 0, 0); */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;

}
.navbar-ul li{
    font-weight: 500;
    font-size: 2.7vh;
    list-style: none;
    transition: ease .5s;
    padding: 15px;
    /* color: bisque; */
    border-radius: 20px;
    margin:3px;
}
.navbar-ul li:hover{
    color:rgb(255, 47, 47);
    /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.103), rgba(212, 211, 221, 0));
    backdrop-filter: blur(14px); */
    
}
.navbar-link {
    
    text-decoration: none;
    color:none;
    

}
.navbar-logo{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: ease-in 0.9s;
}
.navbar-logo-active{
    color: rgb(0, 0, 0);
}
.navbar-logo h1{
    margin:0px 0px 0px 0px;

}
.navbar-logo i{
    display: none;
    margin-right: 10px;
    font-size: 30px;
}
.navbar-logo i:hover{
    cursor: pointer;
}

@media screen and (max-width: 800px){
    .navbar{
        display:block;
        
    }
    .navbar-ul{
        display: block;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.747);
        
        padding: 20vh 0px 0px 0px;
        margin:auto; 
        transform: translateY(-300px);
        transform: translate3d(2.5, 1.2, 0.3);
        transition: ease .5s;
           
    }
    .navbar-ul-active{
        
        opacity: 1;
        display: block;
        transform: translateY(15px);
        transition: all ease .5s;
        height: 100vh;
    }

    .navbar-ul li{
        color: bisque;
        text-align: center;
        
    }
    .navbar-logo i{
        display:block;
       
    }
}